node_modules
.DS_STORE
/applications/drillshare/testing/seleniumpython/tests/__pycache__
/.idea/-csc648-spring22-01-Team01.iml
/.idea/codeStyles
/.idea/inspectionProfiles
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/applications/drillshare/testing/seleniumpython/tests/__pycache__/test_login_create.cpython-39-pytest-7.1.2.pyc
/applications/drillshare/testing/seleniumpython/tests/__pycache__/test_login_delete.cpython-39-pytest-7.1.2.pyc
/applications/drillshare/testing/seleniumpython/tests/__pycache__/test_login_rent.cpython-39-pytest-7.1.2.pyc
/applications/drillshare/testing/seleniumpython/tests/__pycache__/test_login_return.cpython-39-pytest-7.1.2.pyc
.vercel
